.hero {
    background-image: url('../../../assets/img/hero-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

h3 {
    border-bottom: 3px solid #0d6efd;
    padding: 5px;
}